*{margin: 0px;}

body,html{
    height: 100%;
    width: 100%;
}
.montserrat-regular{
    font-family: montserrat,sans-serif;
    font-weight: 400;
    font-style: normal;
}
.montserrat-thin{
    font-family: montserrat,sans-serif;
    font-weight: 100;
    font-style: normal;  
}
.montserrat-light{
    font-family: montserrat,sans-serif;
    font-weight: 300;
    font-style: normal;
}
.montserrat-medium{
    font-family: montserrat,sans-serif;
    font-weight: 500;
    font-style: normal;
}
.montserrat-bold{
    font-family: montserrat,sans-serif;
    font-weight: 700;
    font-style: normal;
}
/* Navbar */
.navbar{
  position: fixed;
  top: 0;
  height: 6vh;
  width: 100vw;
  background: white;
  z-index: 40;
  -webkit-box-shadow: 0px 3px 20px -8px rgba(0,0,0,0.23);
  -moz-box-shadow: 0px 3px 20px -8px rgba(0,0,0,0.23);
  box-shadow: 0px 3px 20px -8px rgba(0,0,0,0.23);
}
.navbar h1{
  position: absolute;
  font-size: 2vh;
  color: #800080;
  top: 2vh;
  left: 15vw;
}
.nav{
  position: absolute;
  display: flex;
  top: 2vh;
  right: 6vw;
}
.nav p{
  font-size: 2vh;
  margin-left: 1vw;
  color: #800080;
}

/* Sections */
.sec-1{
    position: relative;
    height: 100vh;
    width: 100vw;
    background: #0f0f0f;
}
.sec-2{
    position: relative;
    height: 60vh;
    width: 100vw;
    background: #E6E6FA; 
}
.sec-3{
  position: relative;
  height: 100vh;
  width: 100vw;
  background: white; 
}

/* Sec 1 */
.sec-1 img{
    position: absolute;
    width: 65vw;
    bottom: 1.5vh;
    z-index: 10;
    right: 0;
}

.container-texto{
    position: absolute;
    top: 35vh;
    left: 15vw;
    transform: translate(-50%, -50%);
}
.sec-1 #paragrafo{
    position: relative;
    color: #E6E6FA;
    width: 20vw;
    font-size: 3.5vh;
}
.waves {
    position:absolute;
    width: 100vw;
    height:15vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:20vh;
    max-height:40vh;
    bottom: 0px;
    z-index: 14;
  }
  
  /* Animation */
  .parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }
  /*Shrinking for mobile*/
  @media (max-width: 768px) {
    .waves {
      height:40px;
      min-height:40px;
    }
    .content {
      height:30vh;
    }
    h1 {
      font-size:24px;
    }
  }
.floating {  
    animation-name: floating;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}

/* Section 2 */
.sobre-mim{
  position: absolute;
  top: 10vh;
  right: 30vw;
  width: 40vw;
  height: 30vh;
}
.sobre-mim h1{
  font-size: 5vh;
  color: purple;
}
.sobre-mim p{
  margin-top: 2vh;
  font-size: 3vh;
  color: #0f0f0f;
}
.quadro{
  position: absolute;
  background-image: url(img/tonominemae.png);
  background-position: left;
  background-size: cover;
  height: 40vh;
  width: 40vh;
  border-radius: 50%;
  top: 10vh;
  right: 15vw;
  -webkit-box-shadow: 0px 13px 26px -8px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 13px 26px -8px rgba(0,0,0,0.3);
  box-shadow: 0px 13px 26px -8px rgba(0,0,0,0.3);
}

.icon-sec2{
  color: purple;
  font-size: 7vh;
}
.i-1{
  position: absolute;
  top: 10vh;
  left: 6vw;
}
.i-2{
  position: absolute;
  top: 35vh;
  right: 12vw;
}
.i-3{
  position: absolute;
  top: 5vh;
  left: 14vw;
}
.i-4{
  position: absolute;
  top: 15vh;
  right: 19vw;
}
.i-5{
  position: absolute;
  top: 20vh;
  left: 23vw;
}
.i-6{
  position: absolute;
  top: 30vh;
  right: 25vw;
}

